<div
  *ngIf="users.length; else loading"
  class="users"
>

  <div class="form-control">
    <input type="text" placeholder="username?" [(ngModel)]="searchStr">
    <button class="sort-btn" (click)="sortById()">Sort by ID</button>
  </div>

  <div class="card" *ngFor="let user of users | searchUser:searchStr">
    <div class="card__header">
      <h2 [routerLink]="['/', 'user']">{{user.username}}</h2>
      <h3>{{user.id}}</h3>
    </div>
    <div class="card__name-block">
      <p>{{user.first_name+' '+user.last_name | titlecase}}</p>
    </div>
  </div>

</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
